/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Roboto Light';
    src: url('polices/"Roboto Ligth".eot');
    src: url('polices/"Roboto Light"/.eot?#iefix') format('embedded-opentype'),
         url('polices/"Roboto Light".woff') format('woff'),
         url('polices/"Roboto Light".ttf') format('truetype'),
         url('polices/"Roboto Light".svg#Roboto Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*ELEMENTS PRINCIPAUX DE LA PAGE */
body
{
    font-family:"Roboto Light"
}

#bloc_page
{
  width:999px;
  margin: auto;
}


/*l'en tete*/

header
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    display: flex;
}

nav li
{
    list-style-type: none;
    padding-right:20px ;
    padding-top:12%
    
}

nav a
{
    text-decoration: none;
    color: black;
}

header img
{
    height:110px;
}

/*banniere*/

#banniere
{
    text-align: center;
    color: rgb(214, 210, 210);
    height: 360px;
    background: url("images/backgroung_images.jpg");
    
}

#banniere img
{
    padding-top:115px;
    height:50px;
    
}

#banniere h1
{
    font-size: 1.8em;
}

/*section*/
section
{
    text-align: center;
}

#options
{
    display: flex;
    align-items: center;
    margin:50px 80px 50px 80px;
    justify-content: center;
    justify-content: space-around;
}

#pied_section h1
{
    font-weight: normal;
}


/*footer*/

footer
{
    display: flex;
    flex-direction: column;
    background: url("images/logo.png");
    height: 300px;
    
}

#footer1,h1
{
    text-align: center;
    font-weight:normal;
    font-size: 1em;
    margin-top: 15px; 
}

#footer1 h1
{
 color: white;
}

#footer2
{
    text-align: center;
    margin-bottom:10px ;  
}

#footer2 i
{
    padding-left: 50px;
    font-size: 2em;
    color: rgba(163, 154, 154, 0.849);
}

#footer3
{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-bottom: 30px;
    color: white;
}

.a_propos
{
    display: flex;
    flex-direction: column;
}

.list
{
    margin-left:60px;
    margin-top: -15px;
}

.list a
{
   font-size: 1.5em; 
   color: white;
}

.list i
{
    padding-right: 15px;
}

.a_propos p
{
    margin-top:0px;
    margin-left: 80px;
    font-size: 1.5em;
}

.a_propos h2
{
 color: rgba(163, 154, 154, 0.849);
}